<div class='container'>
  <div class='row center'>
    <div class='mt-5 h2'>お問い合わせいただきありがとうございました．</div>
  </div>

  <div class='row center'>
    <%= image_tag 'thanks.jpg', height:'300' %>
  </div>
</div>