<div class='container'>
  <div class='row center'>
    <div class='mt-5 h2'>Your idea was accepted!</div>
  </div>
  <div class='row center'>
    <div class='h2'>Thank you and Hope your idea successfully</div>
  </div>
  <div class='row center'>
    <%= image_tag 'thanks.jpg', height:'300' %>
  </div>
</div>