<div class='top-view'>
  <div class=' top-text-height'>
    <p class='center top-text'><strong>BICS</strong></p>
  </div>
  <div class='center font top-text-height'>
    <p class='top-button'>
      <strong><%= link_to 'start', search_path, class:'btn top-button' %></strong>
    </p>
  </div>
</div>