/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

.top-view {
  background-image: image-url('top2.jpg');
  background-size: cover;
  height: 1000px;
  opacity: 0.6;
}

.font {
  font-family: 'Vollkorn', serif;
}

.top-text {
  font-size: 200px;
  color: #808080;
  letter-spacing: 100px;
  text-shadow: 10px 10px 10px #696969;
}

.top-text-height {
  padding-top: 150px;
}

.top-button {
  font-size: 100px;
  background: #696969;
  color: #000000;
  border-radius: 1000px;
  opacity: 0.9
}