<div class='container footer'>
  
  <div class='row footer-box'>
    <div class='col-md-2 footer-box d-flex align-items-end'>
      <%= link_to 'BICS', search_path, 'data-turbolinks': false, class:'text-light h2', :style => 'text-decoration:none;' %>
    </div>
    <div class='col-md-2 footer-box d-flex align-items-end'>
      <text class='text-light h5 '>@BICS, inc.</text>
    </div>
    <div class='col-md-3 offset-md-2 footer-box'>
      <div class='text-light h3 footer-contact center'>
        <%= link_to 'Contact us', contacts_path, class:'text-white', :style => 'text-decoration:none;' %>
      </div>
    </div>
    <div class='col-md-2 offset-md-1 d-flex align-items-end'>
      <div class='fab fa-facebook fa-2x text-light footer-sns'></div>
      <div class='fab fa-instagram fa-2x text-light footer-sns'></div>
      <div class='fab fa-twitter fa-2x text-light footer-sns'></div>
    </div>
  </div>
</div>